<html>

<head>
    <meta charset="utf-8">
    <title>Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
               
        <tabela v-bind:titulos="['Nome', 'E-mail', 'Link']" v-bind:registros="registros"></tabela>
       
    </div>
    
    <script>
        
        Vue.component("tabela", {
            props:["titulos","registros"],
            template:
            '<table style="width: 100%; text-align: center;">'+
                '<thead>'+
                    '<tr>'+
                        '<th v-for="titulo in titulos">{{titulo}}</th>'+
                    '</tr>'+
                '</thead>'+
                '<tbody>'+
                    '<tr v-for="registro in registros">'+
                        '<td v-for="item in registro">{{item}}</td>'+
                    '</tr>'+
                '</tbody>'+
            '</table>'
        });
        
        
        var app = new Vue({
            el: "#app",
            data:{
                registros: [
                    {titulo: "Título 1",descricao: "Descrição 1", link: "www.google.com"},
                    {titulo: "Título 2",descricao: "Descrição 2"},
                    {titulo: "Título 3",descricao: "Descrição 3"}
                ]
            }
        });

    </script>
</body>

</html>
